# Problem Solving Session 4
## Topic: Lecture 4 - Control Flow
##### Date: February 13, 2021
##### By: Hermine Grigoryan

## Imports

In [29]:
import random
import string
from tqdm import tqdm

## Exercise 1
Write a program to reverse the digits of a given integer without using any built-in function or slicing (like reverse or [::-1]). (Example: 12345 to 54321). Run the program for 4815162342.

In [ ]:
my_int = 4815162342
my_int = str(my_int)
new_int = ''
for i in range(-len(my_int)+1, 1):
    i = -i
    new_int += str(my_int[i])

int(new_int)

2432615184

In [91]:
my_int = 4815162342
my_int = str(my_int)
new_int = ''
for i in range(len(my_int)-1, -1, -1):
    new_int += str(my_int[i])

int(new_int)

2432615184

## Exercise 2
Two people throw two six-sided fair dices each. The one with greater sum wins, and if the sum is equal, they draw. Write a program that simulates the game and plays 100 time. Print the number of wins of Player 1, Player 2 and draws.

In [ ]:
N = 100

p1_wins = 0
p2_wins = 0
draws = 0

for i in range(N):
    
    p1 = random.randint(1, 6) + random.randint(1, 6)
    p2 = random.randint(1, 6) + random.randint(1, 6)

    if p1>p2:
        p1_wins += 1
    elif p1<p2:
        p2_wins += 1
    else:
        draws += 1
        
print(f'Number of times Player 1 wins: {p1_wins} \nNumber of times Player 2 wins: {p2_wins} \nNumber of draws: {draws}')

Number of times Player 1 wins: 47
Number of times Player 2 wins: 43
Number of draws: 10

## Exercise 3
Write a program that returns the index of the first negative number of the list. It should use a while loop and it should return -1 if there are no negative numbers in the
list.

In [5]:
ls = [1, 2, 3, 1, 4, 8, 10]

i = 0

while True:
    if ls[i]<0:
        print(i)
        break
    elif len(ls)-1 == i:
        print('-1')
        break
    i += 1

-1

In [1]:
ls = [1, 2, 3, -1, 4, 8, 10]

n = len(ls)-1
i = 0

while i<=n:
    if ls[i]<0:
        print(i)
        break
    elif i == n:
        print('-1')
    
    i += 1

3

## Exercise 4
Write a python program to read three numbers (a,b,c) and check how many numbers between ‘a’ and ‘b’ are divisible by ‘c’

In [ ]:
a = 10
b = 25
c = 2

i = a
cnt = 0

while i<=b:
    if i%c == 0:
        cnt+=1
    i += 1
cnt

8

## Exercise 5
Suppose you had a list of people that arrived at a party you are hosting. The list is ordered by arrival (Jerry was the first to arrive, followed by Bob, etc.). Besides that, you know that the second list contains the family names of the arrived people. Create an ordered list (using 1, 2, 3, etc.) to list people's first and last names.

In [ ]:
first = ['Jerry', 'Bob', 'Elaine', 'George', 'Donald']
last = ['Bond', 'Kramer', 'Bush', 'Harrisson', 'Trump']

for element, (i,j) in enumerate(zip(first, last), 1):
    print(f'{element}. {i} {j}')

1. Jerry Bond
2. Bob Kramer
3. Elaine Bush
4. George Harrisson
5. Donald Trump

## Exercise 6
Using a list comprehension, create a new list called "newlist" out of the list "numbers", which contains only the positive numbers from the list, as integers.

In [11]:
numbers = [34.6, -203.4, 44.9, 68.3, -12.2, 44.6, 12.7]
newlist = [i for i in numbers if i>0]
print(newlist)

[34.6, 44.9, 68.3, 44.6, 12.7]

## Exercise 7
Given dictionary is consisted of vehicles and their weights in kilograms. Construct a list of the names of vehicles with weight below 5000 kilograms and output the names which do not start by letter 'S'. In the same list comprehension make the key names all upper case.

In [3]:
dct={"Sedan": 1500, "SUV": 2000, "Pickup": 2500, "Minivan": 1600, "Van": 2400, "Semi": 13600, "Bicycle": 7, "Motorcycle": 110}

In [4]:
[i.upper() for i in dct if dct[i]<5000 and i[0]!='S']

['PICKUP', 'MINIVAN', 'VAN', 'BICYCLE', 'MOTORCYCLE']

## Exercise 8
<font>
    
Convert the below code to one line using list comprehension

``` Python
result = []
for x in list_1:
    for y in list_2:
        if 6< x+y <10:
            result.append((x,y))
        else:
            result.append((0))
```    
     
</font>

In [ ]:
list_1 = [1, 2, 3, 4]
list_2 = [1, 5, 8, 9]

[(x,y) if 6<x+y<10 else (0) for x in list_1 for y in list_2 ]

[0, 0, (1, 8), 0, 0, (2, 5), 0, 0, 0, (3, 5), 0, 0, 0, (4, 5), 0, 0]

## Exercise 9
Scrabble is a game where players get points by spelling words. Words are scored by adding together the point values of each individual letter. Write a program that takes a string word as input and returns the equivalent scrabble score for that word.

In [ ]:
score = {"a": 1, "c": 3, "b": 3, "e": 1, "d": 2, "g": 2,
         "f": 4, "i": 1, "h": 4, "k": 5, "j": 8, "m": 3,
         "l": 1, "o": 1, "n": 1, "q": 10, "p": 3, "s": 1,
         "r": 1, "u": 1, "t": 1, "w": 4, "v": 4, "y": 4,
         "x": 8, "z": 10}
word = 'magnificent'

In [ ]:
initial_score = 0
for i in word:
    initial_score += score[i]

initial_score

19

In [ ]:
initial_score = 0
sum([initial_score + score[i] for i in word])

19

## Exercise 10
A movie theater charges different ticket prices depending on a person’s age. If a person is under the age of 3, the ticket is free; if they are between 3 and 12, the ticket is \\$10; and if they are over age 12, the ticket is $15. Write a loop in which you ask users their age, and then tel them the cost of their movie ticket. If there are no more people left, quit the program.

In [6]:
while True:
    
    age = input('Tell your age (if you want to quit, print "quit"): ')
    
    if age=='quit':
        break    
    elif int(age)<=3:
        print('The ticket is free')
    elif int(age)<=12:
        print('You should pay $10')
    elif int(age)>12:
        print('You should pay $15')

Tell your age (if you want to quit, print "quit"): 4
You should pay $10
Tell your age (if you want to quit, print "quit"): 12
You should pay $10
Tell your age (if you want to quit, print "quit"): 99
You should pay $15
Tell your age (if you want to quit, print "quit"): quit

## Exercise 10
Given a list of meals served over some period of time, return True if the same meal has ever been served two days in a row, and False otherwise. Use dictionary comprehensions.

In [21]:
menu = ['pizza', 'salad', 'tolma', 'tolma', 'khorovats', 'fruit']
{f'D{ind} & D{ind+1}' : d1==d2 for ind, (d1, d2) in enumerate(zip(menu, menu[1:]), 1)}

{'D1 & D2': False,
 'D2 & D3': False,
 'D3 & D4': True,
 'D4 & D5': False,
 'D5 & D6': False}

## Exercise 11
Given a sentence, produce a dictionary of the lengths of each word in the sentence, but only if the word is not an article. First remove all punctuations.

In [40]:
sent = 'The Little Prince describes his journey from planet to planet, each tiny world populated by a single adult.'
sent = ''.join([i.lower() for i in sent if i not in string.punctuation])
{i:len(i) for i in sent.split() if i not in ['a', 'an', 'the']}

{'little': 6,
 'prince': 6,
 'describes': 9,
 'his': 3,
 'journey': 7,
 'from': 4,
 'planet': 6,
 'to': 2,
 'each': 4,
 'tiny': 4,
 'world': 5,
 'populated': 9,
 'by': 2,
 'single': 6,
 'adult': 5}

## Exercise 12
Generate 10 random floats in a square with with side equal to 4 and center=(0,0) and generate a list of x and y pairs (in a tuple). The list should contain only those pairs where x>y. Calculate the percentage of cases where x>y.

What will happen if you increase the number of iterations?

In [78]:
ls = []
N = 1000000

for i in tqdm(range(N)):
    x = random.uniform(-2, 2.000000001)
    y = random.uniform(-2, 2.000000001)
    if x>y:
        ls.append((x,y))
len(ls)/N

100%|████████████████████████████████████████████████████████████████████| 1000000/1000000 [00:01<00:00, 967602.43it/s]

0.499225

## Exercise 13
Given a list, filter out all `NaN` values with their indexes.

In [79]:
ls = [1, float("NaN"), 5, 10.2, 25.3, 100, float("NaN"), 3, 2, float("NaN"), 4]

In [103]:
[(ind,j) for ind,j in enumerate(ls) if j!=j]

[(1, nan), (6, nan), (9, nan)]